* {
  box-sizing: border-box; }

html {
  height: 100%; }

noscript {
  color: red;
  text-align: center;
  padding: 3em 0;
  font-size: 2em;
  display: block;
  height: 100%;
  background: #FFECDE; }

body {
  margin: 0;
  font-family: sans-serif;
  height: 100%;
  background: #4E4E4E; }

.blocking {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .blocking div {
    display: inline-block;
    font-size: 2em;
    padding: 1em; }
    .blocking div.info {
      background: #EFEFEF; }
    .blocking div.error {
      background: #ff4545;
      color: white; }

#root {
  width: 100%;
  height: 100%;
  position: absolute; }

.app {
  margin: 3em auto;
  width: 80%;
  max-width: 800px;
  background: #EFEFEF; }

@media (max-width: 710px) {
  .app {
    margin: 0;
    width: 100%; } }
.pad1 {
  padding: 1em; }

.current-media .title {
  display: block;
  font-size: 1.9em; }
.current-media .artist {
  display: block;
  font-size: 1em;
  margin-top: 0.6em; }
.current-media img {
  width: 100%; }

.icon {
  cursor: default;
  font-size: 2.5em;
  margin: 0 0.3em;
  user-select: none; }
  .icon.active {
    color: #3a83a7; }
  .icon.clickable {
    cursor: pointer; }

.split-tray {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .split-tray > div {
    display: flex;
    align-items: center; }

.seek {
  margin: 0.5em 1em 0.2em; }
  .seek .split-tray {
    margin-top: 0.6em; }

.volume {
  margin: 0 1em 0 0;
  display: flex;
  align-items: center; }
  .volume .icon {
    margin-right: 0; }
  .volume .bar {
    width: 10em;
    display: inline-block; }

.controls {
  padding-bottom: 0.5em; }

.noUi-connect {
  background: #737373; }

.noUI-target {
  border-radius: 0; }

.noUi-horizontal {
  height: 1em; }
  .noUi-horizontal .noUi-handle {
    width: 2em;
    height: 2em;
    left: -1em;
    top: -0.5em; }
    .noUi-horizontal .noUi-handle::before, .noUi-horizontal .noUi-handle::after {
      display: none; }

.noUi-handle {
  box-shadow: none;
  border-radius: 100%;
  cursor: pointer;
  border: 1px solid #a0a0a0; }

@media (min-width: 711px) {
  .separator {
    background: #4E4E4E;
    height: 3em; } }
@media (max-width: 710px) {
  .separator {
    border-bottom: 2px solid #b7b7b7;
    margin: 1em 0 1.5em; } }
.playlist .row {
  display: flex;
  justify-content: space-between;
  padding: 0.8em 1em;
  border-top: 1px solid #b7b7b7; }
  .playlist .row .icon {
    font-size: 1.3em;
    color: grey; }
  .playlist .row.current {
    font-weight: bold; }
  .playlist .row .duration {
    color: #424242;
    margin: 0 0.5em; }
  .playlist .row .title {
    flex: 1 1 auto;
    white-space: nowrap;
    overflow: hidden;
    position: relative; }
    .playlist .row .title:before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: linear-gradient(90deg, #ffffff00 70%, #EFEFEF); }

.playlist-add {
  padding: 1em;
  display: flex;
  align-items: center;
  font-size: 1.1em; }
  .playlist-add input {
    flex: 1 1 auto;
    margin-left: 0.5em; }
  .playlist-add .icon {
    font-size: 2em;
    margin-right: 0; }

.playlist-clear {
  text-align: center;
  padding: 1em;
  padding-top: 0;
  text-decoration: underline;
  cursor: pointer;
  color: #5f5f5f; }

#toast-container > div {
  opacity: 1 !important; }

/*# sourceMappingURL=style.css.map */
